/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

router-outlet + * { flex: 1 1 auto ; display: flex ; flex-direction: column ; }
.btn {
  background-color: #558B2F;
  color: #EFEFEF;
  padding: 10px 50px;
}